$font-title: 'Oswald', serif;
$font-body: 'Roboto Mono', sans-serif;

$color-primary: #C21200;
$color-secondary: #ff8c00;
$color-text: #250000;
$color-background: #f8f8f8;

$font-size-title: 2.5rem;
$font-size-subtitle: 1.5rem;
$font-size-body: 1rem;

$font-weight-title: 700;
$font-weight-body: 400;

$mq-desktop: 1024px;
$mq-tablet: 768px;
$mq-mobile: 480px;