@use "./_variables.scss" as *;

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: $color-background;
    color: $color-primary;
    font-family: $font-title;
    text-align: center;
    position: relative;
    height: 600px;
    overflow: hidden;

    &__titulo{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        font-weight: $font-weight-title;
        margin-bottom: 1rem;
        width: 100%;
        max-width: 600px;
        top: 35%;
        left: 40%;
        transform: translate(-50%, -50%);
        padding: 1rem 2rem;
        @media screen and (min-width: $mq-tablet ) {
            font-size: 10rem;
            top: 25%;
            left: 40%;
        }
        &--o{
            fill: none;
            display: inline-block;
            width: 70px;
            color: $color-secondary;
            @media screen and (min-width: $mq-tablet ) {
                width: 140px;
            }
            circle{
                stroke: $color-secondary;
                stroke-width: 20px;
                stroke-linecap: round;
                stroke-dasharray: 251;
                stroke-dashoffset: 251;
                animation: dibujar 3s ease-in-out forwards;
            }
        }
            @keyframes dibujar {
            0% {
                stroke-dashoffset: 251;
            }
            50%{
                stroke-dashoffset: 100;
            }
            100% {
                stroke-dashoffset: 0;
            }
        }
    }

    &__imagen{
        width: 400px;
        margin-bottom: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        @media screen and (min-width: $mq-tablet ) {
            width: 600px;
        }
    }

    &__subtitulo{
        font-family: $font-title;
        font-size: 3rem;
        font-weight: $font-weight-title;
        color: $color-text;
        position: absolute;
        bottom: 20%;
        left: 70%;
        transform: translate(-50%, -50%);
        z-index: 1;
        
        @media screen and (min-width: $mq-tablet ) {
            font-size: 6rem;
            bottom: 1%;
            left: 68%;
        }
    }
}
.destacados{
    padding: 2rem;
    padding-bottom: 3rem;
    background-color: $color-primary;
    color: $color-background;
    font-family: $font-body;
    border-radius: 50px;
    margin-bottom: 30px;
    margin-top: 40px;
    width: 100%;
        @media screen and (min-width: $mq-tablet ) {
            padding: 3rem;
            padding-bottom: 4rem;
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    &__titulo{
        font-family: $font-title;
        font-size: $font-size-title;
        font-weight: $font-weight-title;
        color: $color-background;
        margin-bottom: 2rem;
        text-align: center;
        border-bottom: 3px solid $color-text;
        padding: 0.5rem 0;
            @media screen and (min-width: $mq-tablet ) {
                font-size: 3rem;
            }
    }
    &__descripcion{
        font-size: $font-size-body;
        font-weight: $font-weight-body;
        color: $color-background;
        margin-bottom: 3rem;
        text-align: left;
         @media screen and (min-width: $mq-tablet ) {
            text-align: center;
        }
    }

    &__galeria{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media screen and (min-width: $mq-tablet ) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
        @media screen and (min-width: $mq-desktop ) {
            gap: 3rem;
        }
    }

    &__plato{
        position: relative;
    }

    &__imagen{
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        object-position: center;
        border-radius: 200px;
         @media screen and (min-width: $mq-tablet ) {
            max-width: 400px;
        }
         @media screen and (min-width: $mq-desktop ) {
            max-width: 500px;
        }
    }

    &__descripcion--plato{
        position: absolute;
        z-index: 300;
        bottom: 6px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 40px;
        font-size: $font-size-body;
        font-weight: $font-weight-body;
    }
    &__enlace{
        text-decoration: none;
        background-color: $color-background;
        color: $color-primary;
        font-weight: $font-weight-title;
        border-radius: 30px;
        padding: 5px 8px;
        display: inline-block;
        text-align: center;
        width: 100%;
        border: 2px solid $color-primary;
        &:hover{
            cursor: pointer;
            transition: 0.3s ease-in-out;
            transform: scale(1.05);
            background-color: $color-primary;
            color: $color-background;
            
        }
    }
}

.contacto {
    padding: 2rem;
    background-color: $color-background;
    font-family: $font-body;

    @media screen and (min-width: $mq-tablet) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        max-width: 1200px;
        margin: 0 auto;
    }
    &__titulo{
        text-align: center;
        font-family: $font-title;
        font-size: $font-size-title;
    }
    
    &__direccion{
        font-style: italic;
        margin-bottom: 1rem;
    }
    &__boton{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 2rem;
    }
    &__telefono, &__email{
        margin-bottom: 1rem;
    }
    &__enlace{
        text-decoration: none;
        color: $color-text;
        font-weight: $font-weight-title;
        border-radius: 30px;
        border: 2px solid $color-primary;
        padding: 4px 8px;
        display: inline-block;
        text-align: center;
        &:hover{
            cursor: pointer;
            color: $color-primary;
            font-weight: $font-weight-title;
            transition: 0.3s ease-in-out;
            transform: scale(1.05);
        }
    }
    &__detalles {
        padding: 2rem 1rem; 
    }
    &__subtitulo{
        font-family: $font-title;
        font-size: $font-size-subtitle;
        font-weight: $font-weight-title;
        color: $color-primary;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-bottom: 2px solid $color-primary;
    }
    &__horario{
        padding: 4px 8px;
        &--cerrado{
            font-weight: $font-weight-title;
        }
    }

    &__restaurante{
        margin-top: 2rem;
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        transition: clip-path 0.5s ease-in-out, transform 0.9s ease;

        &:hover {
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            transform: scale(1.03);
            cursor: crosshair;
        }
    }
    &__imagen{
        width: 100%;
        max-width: 600px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}