<footer class="footer" role="contentinfo">
    <div class="footer__japon">
        <p class="footer__japones" lang="ja">いただきます</p>
    </div>
    <div class="footer__contenedor">
        <div class="footer__textos">
            <p class="footer__nombre">© 2026 Sando Sushi. Todos los derechos reservados.</p>
            <p class="footer__copyright">Diseñado por Antolín Murcia, para <abbr title="HyperText Markup Language">HTML</abbr> y <abbr title="Cascading Style Sheets">CSS</abbr> I.</p>
            <p class="footer__universidad"><abbr title="Universitat Oberta de Catalunya">UOC</abbr>.</p>
        </div>
        <div class="footer__enlaces">
            <a class="footer__link" href="/src/links.html">Links</a>
        </div>
    </div>
</footer>