<header role="navigation">
    <nav class="navegador">
        <a class="navegador__logo" href="/src/index.html"><img class="navegador__logo" width="200" height="120" src="/src/assets/images/logo.svg?as=webp&lossless=true" 
            alt="Logo de Sando Sushi"></a>
        <ul class="navegador__enlaces">
            <li class="navegador__boton"><a class="navegador__enlace" href="/src/categoria.html">Carta</a></li>
            <li class="navegador__boton"><a class="navegador__enlace" href="/src/contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>